# 1 ] importing preprocessing modules

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

# 2] Loading dataset into pandas dataframe

In [2]:
df=pd.read_csv('movie_dataset.csv')

In [3]:
df.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [4]:
df.shape

(4803, 24)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  cast                  4760 non-null   object
 22  crew                  4803 non-null   object
 23  director              4773 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [6]:
df.describe()

,index,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4803.000000,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2401.000000,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,1386.651002,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,1200.500000,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,2401.000000,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,3601.500000,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,4802.000000,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

# the movie will be recommended based on content so features are:
    1. genres
    2.keywords
    3.overview
    4.cast
    5.director

In [7]:
features= ['genres','keywords','overview','cast','director']

In [8]:
for feature in features:
    df[feature] = df[feature].fillna('')

df["tags"] =df['genres']+" "+df['keywords']+" "+df['cast']+" "+df['director']+" "+df['overview']

In [9]:
df['tags']

0       Action Adventure Fantasy Science Fiction cultu...
1       Adventure Fantasy Action ocean drug abuse exot...
2       Action Adventure Crime spy based on novel secr...
3       Action Crime Drama Thriller dc comics crime fi...
4       Action Adventure Science Fiction based on nove...
                              ...
4798    Action Crime Thriller united states\u2013mexic...
4799    Comedy Romance  Edward Burns Kerry Bish\u00e9 ...
4800    Comedy Drama Romance TV Movie date love at fir...
4801      Daniel Henney Eliza Coupe Bill Paxton Alan R...
4802    Documentary obsession camcorder crush dream gi...
Name: tags, Length: 4803, dtype: object

In [10]:
drop_extras= [ 'production_companies','production_countries','release_date','revenue','budget','genres','homepage','id','keywords','original_language','original_title','overview','popularity','runtime','spoken_languages','status','tagline','vote_average','vote_count','cast','crew','director']
df = df.drop(columns=drop_extras)

In [11]:
df

,index,title,tags
0,0,Avatar,Action Adventure Fantasy Science Fiction cultu...
1,1,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drug abuse exot...
2,2,Spectre,Action Adventure Crime spy based on novel secr...
3,3,The Dark Knight Rises,Action Crime Drama Thriller dc comics crime fi...
4,4,John Carter,Action Adventure Science Fiction based on nove...
...,...,...,...
4798,4798,El Mariachi,Action Crime Thriller united states\u2013mexic...
4799,4799,Newlyweds,Comedy Romance Edward Burns Kerry Bish\u00e9 ...
4800,4800,"Signed, Sealed, Delivered",Comedy Drama Romance TV Movie date love at fir...
4801,4801,Shanghai Calling,Daniel Henney Eliza Coupe Bill Paxton Alan R...
4802,4802,My Date with Drew,Documentary obsession camcorder crush dream gi...

# vectorize dcoument

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

In [13]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [14]:

vector = cv.fit_transform(df['tags']).toarray()

In [15]:
vector.shape

(4803, 5000)

# cosine similarity disssstances

In [16]:

from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

In [17]:

similarity.shape

(4803, 4803)

In [20]:
distances = sorted(list(enumerate(similarity[2])),reverse=True,key = lambda x: x[1])
for i in distances[1:6]:
        print(df.iloc[i[0]].title)

Quantum of Solace
Skyfall
Never Say Never Again
Die Another Day
Diamonds Are Forever

#function

In [24]:
def engine(movie_name):
    index = df[df['title'] == movie_name].index[0]
    movie_rec_scores = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    movie_rec=[]
    for i in movie_rec_scores[1:6]:
        movie_rec.append(df.iloc[i[0]].title)
        
    return movie_rec

In [25]:
print (engine("Batman"))

['Batman & Robin', 'Batman Begins', 'The Dark Knight Rises', 'Batman Returns', 'The Dark Knight']

In [26]:
import pickle
pickle.dump(df,open('movies_data.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))